[Unit]
Description=Run SIMPEL-RS Laravel scheduler every minute

[Timer]
OnCalendar=*-*-* *:*:00
Persistent=true
AccuracySec=1s
Unit=simpel-rs-scheduler.service

[Install]
WantedBy=timers.target
